#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
				&kp KP_N1 &kp KP_N2
				&kp C &kp D &kp E &kp F &kp G
				&kp H &kp I &kp J &kp K
				&kp L &kp M &kp N &kp O &kp P &kp Q &kp R &kp S
				&kp KP_N3 &kp KP_N4 &kp KP_N5
			>;
		};

		nav_layer {
			bindings = <
				&kp KP_N1 &kp KP_N2
				&kp V &kp W &kp X &kp Y &kp Z
				&kp A &kp B &kp C &kp D
				&kp E &kp F &kp G &kp H &kp I &kp J &kp K &kp L
				&kp KP_N6 &kp KP_N7 &kp KP_N8
			>;
		};
	};
};
