#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
				&disc_mode_toggle &kp B
				&kp C &kp D &kp E &kp F &kp G
				&kp H &kp I &kp J &kp K
				&kp L &kp M &kp N &kp O &kp P &kp Q &kp R &kp S
				&mo 1 &none &kp T
			>;
		};

		nav_layer {
			bindings = <
				&disc_mode_toggle &kp U
				&kp V &kp W &kp X &kp Y &kp Z
				&kp A &kp B &kp C &kp D
				&kp E &kp F &kp G &kp H &kp I &kp J &kp K &kp L
				&mo 1 &none &kp M
			>;
		};
	};
};
